<div style="text-align:center"><h1>Chat Online</h1></div>

<div class="row justify-content-center">
	<div class="mb-2">
			<input class="form-control mb-1" type="text" placeholder="Intoduzca su usuario" id="usuario"/>
			<textarea class="form-control mb-1" placeholder="Intoduzca su mensaje" id="mensaje"></textarea>
	</div>

	<div>
		<button class="btn btn-success mt-2" type="button" id="btnEnviar">Enviar</button>
	</div>
</div>

<div class="row justify-content-center">
		<div class="col-10">
			<ul class="list-group" id="mensajes"></ul>
		</div>
</div>