

<link rel="stylesheet" href="~/css/Usuarios/Usuarios.css" />

<h1>Productos</h1>
<button class="btn btn-primary m-3" onclick="GuardarProducto()">Agregar Productos</button>

<table id="Productos" class="table table-striped" style="width:100%"></table>

<div id="ProductosAddPartial"></div>

<script src="~/js/Productos/Productos.js"></script>