@model Web.ViewModels.HomeViewModel
@{

}

@Html.HiddenFor(x => x.Token);
@Html.HiddenFor(x => x.AjaxUrl)

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="~/js/Home/Home.js"></script>