
<link rel="stylesheet" href="~/css/Usuarios/Usuarios.css" />

<h1>Servicios</h1>

<button class="btn btn-primary m-3" onclick="GuardarServicios()">Agregar Servicio</button>

<table id="Servicios" class="table table-striped" style="width:100%"></table>

<div id="ServiciosAddPartial"></div>

<script src="~/js/Servicios/Servicios.js"></script>
